[Desktop Entry]
# REQUIRED
Name=Sejda PDF Desktop
Type=Application
# OPTIONAL
Categories=Office;GNOME;TextTools;
Comment=Productive PDF Software That You'll Love to Use
Exec=/app/bin/sejda-pdf-desktop
Icon=com.sejda.Sejda
Keywords=editor;merge;pdf;split;
StartupNotify=false
StartupWMClass=sejda-pdf-desktop
Terminal=false
Version=1.0
